@CHARSET "ISO-8859-1";


body
{
font-family: "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
background-image:url("../img/bedge_grunge.png");
}

#pageTitle{
	margin-top: 1em;
	font-weight: heavy;
	text-align: center;
}

#titleAuthors{
	
	text-align: center;
}


#map-container{
	width: 90%;
	margin: 0 auto;
}





#map
{

margin-top: 1em;
padding: 1em;
height: 100%;
width: 100%;
border:1px solid #C0C0C0;
}

.panel{
background: none;
border:#fff;
}

.top-bar{
font-weight: heavy;
background:#382727;
border-bottom:2px solid #c24646;
}



.top-bar-section li:not(.has-form) a:not(.button) {
	background:#382727;
	border-bottom:2px solid #c24646;
	line-height: 43px;
	}
	
.top-bar-section li:not(.has-form) a:not(.button):hover {
color: #c24646;
background:#382727;
}

#yearText{
font-family: "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
font-weight: bold;
position: absolute;
z-index: 80;
bottom: 75px;
font-size: 25px;
width:100px;
height: 25px;
}

button{
	background: none;
	padding: 1rem 1rem 1rem 1rem;
}


#timerControls{
	position: absolute;
	bottom:0px;
	z-index:80;
}

#timerControls img{
	fill: #fff;
}


/* #back{ */
/* 	z-index: 80; */
/* 	bottom: 0px; */
/* } */

/* #play{ */
/* 	z-index: 80; */
/* 	bottom: 0px; */
/* } */

/* #play:hover{ */
/* 	fill: green; */
/* } */

/* #pause{ */
/* 	z-index: 80; */
/* 	bottom: 0px; */
/* } */

/* #forward{ */
/* 	z-index: 80; */
/* 	bottom: 0px; */
/* } */


