@CHARSET "ISO-8859-1";


body
{
font-family: "Neuton";
background-image:url("../img/bedge_grunge.png");
}

.name a{
	font-family: "Neuton";
	font-weight: normal;
	font-size: 1.3em;
}


#pageTitle{
	font-size: 1.5em;
	font-family: "Neuton";
	margin-top: 1em;
	font-weight: 700;
	text-align: center;
}

#titleAuthors{
	font-size: 1.25em;
	font-family: "Neuton";
	font-weight: 400;
	text-align: center;
}

p.intro{
	font-weight: 300;
	text-align: justify;
	font-family: "Neuton";
	font-size: 1.3em;
}

b.small{
	font-weight: 300;
	font-variant: small-caps;
}

p.note{
	font-weight: 300;
	text-align: justify;
	font-family: "Neuton";
	font-size: 1.1em;

}

#AboutMap{
	margin-bottom: 0;
	padding-bottom: 0;
}

#Legend{
	text-align: center;
	padding-bottom: 2em;
}

b.cap{
	font-family: "Neuton";
	font-weight: 400;
	text-transform:uppercase;
}

#outer-map-container{
    margin:0 auto;
  
}

#map-container{
     /*padding-top: 117.7%; /*9:16 ratio*/
    width: 80vw; 
    height: 90vw;
    max-height: 90vh;
    max-width: 80vh;
    margin: auto;
    
}

#map{
	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
	border:2px solid #000000;
	margin: 0 auto;
}

#glacierText{
	/*position: absolute;*/
	background-color: rgba(230, 230, 230, 0.75);
	border-color: #E6E6E6;
	height: 100%;
	z-index: 80;
	width: 70%;
	/*height: 100px;*/
/*	bottom: 0;
	right: 0;*/
	min-height: 100px;
	margin: 0 auto;
	margin-bottom: 0.5em;
}

#glacierText p{
	padding: 1em;
	opacity: 1;
	font-family: "Neuton";
	font-size: 1em;
	font-weight: 400;
}


.panel{
background: none;
border:#fff;
}

.top-bar{
font-weight: heavy;
background:#382727;
border-bottom:2px solid #c24646;
}

b.about{
	font-weight: 400;
	font-family: "Neuton";
	font-size: 1.2em;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background:#382727;
	border-bottom:2px solid #c24646;
	line-height: 42px;
}
	
.top-bar-section li:not(.has-form) a:not(.button):hover {
color: #c24646;
background:#382727;
}

#yearText{
font-family: "Neuton";
font-weight: 700;
padding-left: 1.25em;
position: absolute;
z-index: 80;
bottom: 80px;
left: 20px;
font-size: 2em;
width:100px;
height: 25px;
}

button{
	background:	#E6E6E6;
	border-color: #E6E6E6;
	opacity: 0.6;
	padding: 0.75rem;
}

button:hover{
	background:	#E6E6E6;
	opacity: 1;
}

.button:focus{
	background-color: #E6E6E6;
	border-color: #E6E6E6;
	background:	#E6E6E6;
	opacity: 0.6;
}

button:focus{
	background-color: #E6E6E6;
	border-color: #E6E6E6;
	background:	#E6E6E6;
	opacity: 0.6;
}

button:focus:hover{
	background-color: #E6E6E6;
	border-color: #E6E6E6;
	background:	#E6E6E6;
	opacity: 1;
}

button:disabled{
	background-color: #4D4D4D;
}

button:disabled:hover{
	background-color: #4D4D4D;
}

#timerControls{
	position: absolute;
	margin: 0;
	padding: 0;
	height: 50px;
	left: 20px;
	bottom:10px;
	z-index:80;
}

h4.aboutHeader{
	font-family: "Neuton";
	font-size: 1.5em;
	font-weight:700;
}

p.aboutText{
	font-weight: 300;
	text-align: justify;
	font-family: "Neuton";
	font-size: 1.2em;
}

h5.subsection{
	font-family: "Neuton";
	font-size: 1.4em;
	font-weight:400;
}

b.attribution{
	font-family: "Neuton";
	font-size: 1em;
	font-weight:400;
}


#references p{
	font-family: "Neuton";
	font-size: 1em;
	font-weight: 300;
	
}



