@CHARSET "ISO-8859-1";


body
{
font-family: "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
background-image:url("../img/bedge_grunge.png");
}

h1{
font-size: large;	
}

#map-container{
	width: 90%;
	text-align: center;
	
}


#map
{
margin: auto;
margin-top: 1em;
padding: 1em;
height: 100%;
width: 100%;
border:1px solid #C0C0C0;
}

.panel{
background: none;
border:#fff;
}

.top-bar{
background:#382727;
border-bottom:2px solid #c24646;
}

#yearText{
font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
font-weight: bold;
position: absolute;
z-index: 80;
bottom: 55px;
font-size: 25px;
width:100px;
height: 25px;
}


